.footer{
  position: relative;
  height: calc(30vh - 30px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: calc(30vh - 15px);
  }
  @media (max-height: 600px) {
    height: calc(30vh - 15px);
  }
}